{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Kanban Board</h1>
<hr/>

{% if request.user.is_authenticated %}
<a href="/new-task" class="btn btn-outline-secondary">Add Task</a>
{% else %}
<p class="text-muted">Please log in to add tasks.</p>
{% endif %}
<div class="row mt-4">
    <div class="col-md-4">
        <h3>To Do</h3>
        {% for task in tasks %}
        {% if task.status == "N" %}
        <div class="card my-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.short_text }}</h6>
                <a href="tasks/<int:task_id>/move" class="button">Перейти на пост</a>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <p>No tasks to do.</p>
        {% endfor %}
    </div>

    <div class="col-md-4">
        <h3>In Progress</h3>
        {% for task in tasks %}
        {% if task.status == "I" %}
        <div class="task">
            <h5>{{ task.title }}</h5>
            <p>{{ task.description }}</p>
        </div>
        {% endif %}
        {% empty %}
        <p>No tasks in progress.</p>
        {% endfor %}
    </div>

    <div class="col-md-4">
        <h3>Done</h3>
        {% for task in tasks %}
        {% if task.status == "D" %}
        <div class="task">
            <h5>{{ task.title }}</h5>
            <p>{{ task.description }}</p>
        </div>
        {% endif %}
        {% empty %}
        <p>No completed tasks.</p>
        {% endfor %}
    </div>
</div>
<hr/>
{% endblock %}