<div class="dropdown">
  <button id="bd-theme"
          class="btn btn-outline-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
    Theme
  </button>
  <ul class="dropdown-menu" aria-labelledby="bd-theme-text">
    <li><button type="button"
                class="dropdown-item"
                data-bs-theme-value="light"
                aria-pressed="false">Light</button></li>
    <li><button type="button"
                class="dropdown-item"
                data-bs-theme-value="dark"
                aria-pressed="false">Dark</button></li>
    <li><button type="button"
                class="dropdown-item"
                data-bs-theme-value="auto"
                aria-pressed="false">Auto</button></li>
  </ul>
</div>